<div class="row">
	<!--Deck details & actions-->
	<div class="col-4 g-0">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">{{ deck()?.name }}</h1>
				<p class="card-text">{{ deck()?.description }}</p>
				<button class="btn btn-danger"
						type="button"
						(click)="onDelete()">Delete</button>
			</div>
		</div>
	</div>

	<!--Deck Cards-->
	<div class="col-8 g-0">
		<div class="list-group">
			<div class="list-group-item" *ngFor="let card of deck()?.cards">{{ card.front }}</div>
		</div>
	</div>
</div>
