.navbar-container {
    padding: 2rem;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.navbar {
    /* Bar */
    background-color: #E6E6E6;
    border-radius: 2rem;

    /* Content */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

button {
    background-color: lightgray;
}