<app-breadcrumb [items]="[
			{ label: 'Home', routerLink: '/'},
			{ label: 'Decks', routerLink: '/decks'},
		]"
></app-breadcrumb>

<div class="row">
	<div class="col g-0">
		<app-deck-create></app-deck-create>
	</div>
</div>

<div class="row row-cols-4">
	<div *ngFor="let deck of deckOverviews()"
		 class="col col-3 g-0 p-3"
	>
		<div class="card pointer"
			 [routerLink]="['/deck', deck.id]"
		>
			<img class="card-img-top img-square object-fit-cover"
				 [src]="imageService.getDeckImageUrl(deck.id, deck.imageVersion)"
				 [alt]="deck.name"
			>
			<div class="card-body">
				<h5 class="card-title">{{ deck.name }}</h5>
				<p class="card-subtitle text-body-secondary text-truncate">{{ deck.description }}</p>
			</div>
		</div>
	</div>
</div>