.navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-white);
}

.navbar {
    /* Bar */
    padding: 1rem;
    padding-inline: 4rem;

    /* Content */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}