<app-breadcrumb [items]="[
			{ label: 'Home', routerLink: '/'},
			{ label: 'Decks', routerLink: '/decks'},
			{ label: 'Deck Details', routerLink: '/deck/' + deckId() },
			{ label: 'Card Details', routerLink: '' },
		]"
></app-breadcrumb>

<div class="row row-cols-2 g-0">
	<div class="col-6 g-0 pe-3">
		<app-card-face [label]="'Front Side'"
					   [body]=cardDetails()?.front
		></app-card-face>
	</div>
	<div class="col-6 g-0 ps-3">
		<app-card-face [label]="'Back Side'"
					   [body]=cardDetails()?.back
		></app-card-face>
	</div>
</div>

<div class="d-inline-flex gap-2">
	<button type="button"
			class="btn btn-outline-primary"
			data-bs-toggle="modal"
			data-bs-target="#card-update-modal"
	>Edit Card</button>
	<button class="btn btn-outline-danger"
			type="button"
			(click)="onDelete()"
	>Delete</button>
</div>

<!--Card update modal-->
<div class="modal fade" id="card-update-modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Card Edit</h1>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						id="card-update-modal-close"
				></button>
			</div>
			<div class="modal-body">
				<form [formGroup]="cardUpdateForm">
					<div>
						<label class="form-label">Front side</label>
						<textarea class="form-control"
								  type="text"
								  rows="5"
								  formControlName="front"
						></textarea>
					</div>

					<div>
						<label class="form-label">Back side</label>
						<textarea class="form-control"
								  type="text"
								  rows="5"
								  formControlName="back"
						></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary"
						type="button"
						(click)="onUpdate()"
				>Save</button>
			</div>
		</div>
	</div>
</div>
